# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\javaweb_study_std\javaweb_01\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
